/* =====================================
Base styles for generic elements
======================================== */
body, *, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

h1 {
    font-size: 1.8em;
    line-height: 1em;
}

h2 {
    font-size: 1.4em;
    line-height: 1em;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

em {
    font-weight: bold;
}

small {
    font-size: 0.8em;
}

/* =====================================
Layout components
======================================== */
.l-pad {
    padding: 1em;
}

.sidebar {
    width: 20%;
    min-width: 250px;
}

.content {
    overflow: hidden;
    padding: 1em;
}

@media (min-width: 700px) {
    .content-constrained {
        padding-left: 280px;
    }
}

.row {
    display: table;
    width: 100%;
}

.column {
    display: table-cell;
    vertical-align: top;
}

/* =====================================
Modular and resusable styles
======================================== */
.clearfix {
    overflow: hidden;
}

.standout {
    background-color: #eee;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    background-color: #000;
    opacity: 0.4;
}

.logo {
    font-family: 'Stoke', serif;
}

  .logo h1 {
    display: inline-block;
    margin-right: 0.5em;
  }

.logo-sub {
    font-size: 0.6em;
    color: #333;
    font-weight: 100;
}

.topbar {
    background-color: #fff;
}

.topbar-title {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 300;
    background-color: #1aa1e1;
    display: inline-block;
}
  .topbar-title i {
    font-size: 1.5em;
    margin-right: 0.5em;
  }
  .topbar-title > h2 {
    display: inline-block;
  }

@media (min-width: 700px) {
    .category-toggle {
        display: none;
    }
}

.categories {
    display: none;
    position: absolute;
    z-index: 999;
    font-size: 1.2em;
    line-height: 2em;
    padding: 0.5em 0;
}

@media (min-width: 700px) {
    .categories {
        display: block;
    }
}
  .categories a {
    display: block;
    color: #444;
    padding: 0.25em 1em;
  }
  .categories a:hover {
    background-color: #e5e5e5;
  }

.thumbs {
    text-align: center;
}

.thumb {
    display: inline-block;
    margin: 0.6em 0.4em;
    max-height: 207px;
}
  .thumb-link {
    display: block;
    position: relative;
  }
  .thumb-link:hover > .overlay {
    display: block;
  }

.books, 
.book {
    display: none;
}

.book-header {
    border-bottom: 2px solid #ccc;
}

.title {
    font-size: 1.8em;
    line-height: 1em;
    padding-bottom: 0.2em;
}

.thumb-image {
    width: 200px;
}

/* =====================================
classes describing states
======================================== */
.is-visible {
    display: block;
}